[paths]
source =
    dhos_url_api/*

[report]

omit =
  **/__main__.py
  dhos_url_api/app.py
  dhos_url_api/config.py
  dhos_url_api/autoapp.py
  dhos_url_api/blueprint_development/*

fail_under = 95

show_missing = true
skip_covered = true
